.container h2 {
  text-align: center;
}

.cards img {
  height: 80px;
  text-align: center;
}

.cards {
  width: 900px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.card-info {
  text-align: center;
  width: 200px;
  box-shadow: 0px 3px 5px rgb(220, 220, 220);
  padding: 20px;
  border: 1px solid rgb(230, 230, 230);
  height: 200px;
  background-color: #3ccaff;
}

.card-info p {
  font-size: 15px;
  color: white;
}

.card-info h2 {
  font-size: 20px;
}
